.hero {
    background-image: url('../public/assets/torii-forest-illustration\ 1\ \(1\).png');

}

.ps8,
.bgWhite {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
}

/* Revealed styles */
.ps8.revealed,
.bgWhite.revealed {
    opacity: 1;
    transform: translateX(0);
}